@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Cinzel', serif;
	font-size: 18px;
	margin: 0px;
	background-color: #A3A39E;
}
h1,h2, h3 {
	font-family: 'Cinzel', serif; 
	font-weight: bold;
        text-align: center; 
}

a {
	text-decoration: none;
}
